/* Desktop style */
.Nav {
  background-color: #6D773A;
  margin: auto;
  z-index: 100;
}

.Nav-Sticky {
  position: sticky;
  width: 100%;
  top: 0;
}

.Nav-Checkbox {
  display: none;
}

.Nav-Menu-Toggle {
  display: none;
}

.Nav-Link-List {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.Nav-Link {
  padding: 20px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: .5s;
  font-size: 1.4rem;
  height: inherit;
}

.Nav-Link:hover {
  background-color: #3E2715;
  color: #F0BC1E;
}

@media screen and (max-width: 768px) {
  /* Nav style */
  .Nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: wrap;
      background-color: #6D773A;
  }
  
  .Nav-Sticky {
      position: sticky;
      width: 100%;
      top: 0;
  }


  /* Checbox and Toggler style */
  .Nav-Checkbox {
      display: inherit;
      opacity: 0;
      width: 0;
      height: 0;
  }

  .Nav-Menu-Toggle {
    height: fit-content;
    display: inherit;
    font-size: 1.4rem;
    margin: auto 0;
    cursor: pointer;
    padding: 20px;
  }

  /* Links style */
  .Nav-Link {
      text-decoration: none;
      text-transform: uppercase;
      transition-duration: .5s;
      padding: 5px;
  }

  .Nav-Link-List {
      padding-left: 40px;
      flex-basis: 100%;
      margin: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .1s .2s ease-in-out;
      display: flex;
      flex-flow: column wrap;
      background-color: #6D773A;
  }

  /* Display links when checkbox is checked */
  .Nav-Checkbox:checked + .Nav-Link-List {
      margin: 1em 0;
      max-height: 500px;
      opacity: 1;
      visibility: visible;
  }
}