#header {
  height: 200px;
  display: flex;
  justify-content: space-between;
}

#header__logo {
  height: 200px;
  width: 20%;
  align-self: center;
}

#header__button {
  margin-right: 2%;
  padding: 20px;
  font-size: 1.55em;
  text-align: center;
  background: linear-gradient(120deg, #F0BC1E, #FBF99A, #F0BC1E, #FBF99A);
  align-self: center;
  border: none;
  border-radius: 4px;
}