#searchBar {
  height: 150px;
  margin-top: 100px;
  background-color: #5B4A43;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBar__field {
  height: 75px;
  width: 20%;
  font-size: 25px;
  text-align: center;
  background: url('../assets/parchemin.jpeg');
  border: none;
}

#searchBar__field::placeholder {
  color: black;
}

#searchBar__button {
  height: 75px;
  width: 5%;
  background: url('../assets/feather.png') no-repeat 10px 0;
  background-color: #3E2715;
  background-size: contain;
  border: none;
}

#searchBar__button::after {
  overflow: hidden;
}