#header {
  height: 200px;
  display: flex;
  justify-content: center;
}

#header__logo {
  height: 20em;
  align-self: center;
  object-fit: contain;
}

#header__button {
  padding: 20px;
  font-size: 1.55em;
  background: linear-gradient(120deg, #F0BC1E, #FBF99A, #F0BC1E, #FBF99A);
  align-self: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline-style: none;
  position: fixed;
  bottom: 4%;
  right: 2%;
}

@media screen and (max-width: 1024px) {
  #header__logo {
    height: 18em;
  }

  #header__button {
    font-size: 1em;
  }
}

@media screen and (max-width: 425px) {
  #header__logo {
    height: 12em;
  }

  #header__button {
    display: none;
  }
}