.oneRecipe {
    background-color: #3E2715;
    height: auto;
    font-family: 'Marck Script';
}

.oneRecipe__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.oneRecipe__container-header {
    position: relative;
    width: 100%;
}

.oneRecipe__container-header--img {
    position: relative;
    width: 100%;
    height: 35em;
    background-image: url('../../assets/smaug.jpg');
    background-size: cover;
}

.oneRecipe__container-header--img2 {
    position: absolute;
    top: 460px;
    left: 1100px;
    width: 8%;
    height: 12rem;
    border-radius: 50%;
}

.oneRecipe__container-header--title {
    color: white;
    font-size: 70px;
    margin: 100px 100px;
}

.recommandations {
    background-color: lightgray;
    padding: 10px 2px;
    width: auto;
    height: 78px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recommandations ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.recommandations li {
    font-size: 25px;
    padding: 25px 35px 25px 25px;
    border-right: solid 1px;
}

.recommandations li:last-child {
    border: none;
    padding-right: 25px;
}

.describe-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-top: 100px;
}

.describe-part h3 {
    font-size: 30px;
    padding: 20px;
    color: white;
    background: #FFD27566;
    opacity: 40%;
    text-align: left;
}

.ingredients p {
    font-size: 25px;
    text-align: left;
    margin-left: 10px;
    line-height: 2;
}

.steps {
    width: 33%;
    padding-right: 50px;
    padding-left: 50px;
}

.steps h3 {
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}

.steps p {
    font-size: 25px;
    line-height: 2;
}

.chiefTrick {
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    padding: 30px;
    margin: 50px;
    border-radius: 10px;
}

.chiefTrick img {
    width: 9em;
}

.chiefTrick__text {
    padding-left: 15px;
}

