#trendyRecipes{
  width: 85%;
  margin: auto;
  margin-top: 100px;
}

.trendyRecipes__titles {
  color: #F0BC1E;
  margin: 50px 0;
  font-size: 2.85em;
}

#trendyRecipes > div {
  height: 500px;
  width: 80%;
  margin: auto;
}

.trendyRecipes__UI {
  display: flex;
  justify-content: space-between;
}

.trendyRecipes__UI-card {
  width: 30%;
  background: url("../../assets/parchemin.jpeg");
  background-position: bottom;
  display: flex;
  flex-direction: column;
  height: 85%;
}

.trendyRecipes__UI-card img {
  width: 100%;
  height: 20em;
}

.trendyRecipes__UI-card h3 {
  text-align: center;
  font-size: 26px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .trendyRecipes__titles {
    font-size: 2em;
  }
}

@media screen and (max-width: 425px) {
  .trendyRecipes__titles {
    font-size: 1.5em;
  }
}