@font-face {
  font-family: "Marck Script";
  src: url('./assets/Fonts/MarckScript-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #3E2715;
  font-family: 'Marck Script';
}