#searchBar {
  height: 150px;
  margin-top: 100px;
  background-color: #5B4A43;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBar__field {
  height: 75px;
  width: 30%;
  font-size: 1.6em;
  text-align: center;
  background: url('../../assets/parchemin.jpeg');
  border: none;
  outline-style: none;
}

#searchBar__field::placeholder {
  color: black;
}

#searchBar__button {
  height: 75px;
  width: 7%;
  background: url('../../assets/feather.png') no-repeat center;
  background-color: #3E2715;
  background-size: 45%;
  border: none;
  outline-style: none;
  cursor: pointer;
}

#searchBar__button::after {
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  #searchBar__field {
    width: 40%;
  }

  #searchBar__button {
    width: 10%;
    background-size: 60%;
  }
}

@media screen and (max-width: 425px) {
  #searchBar__field {
    font-size: 1.2em;
    width: 60%;
  }

  #searchBar__button {
    width: 20%;
    background-size: 70%;
  }
}